.square {
  height: 100%;
  width: 100%;
  border: black 2px solid;
  background-size: cover;
  background-position: center center;
}
.square.black {
  background-color: var(--pink);
}

.white {
  background-color: white;
}

.chessPiece {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
